
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#baby_response
{
font-size: 18px;
margin-bottom: 40px;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 5px 5px 2px pink;
    border-radius: 15px;
    border: solid 5px plum;
    margin-top: 20px;
}
